  
.new
  .new__content
    .new__content__header
      .new__content__header__top
        ボドゲの森にログイン
    .new__content__center
      .new__content__center__left
        .new__content__center__left__facebook
          facebookでログイン（準備中）
        .new__content__center__left__google
          Googleでログイン（準備中）
      .new__content__center__right
        = form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f|
          .new__content__center__right__email
            = f.email_field :email,placeholder: "メールアドレス",class:"new__content__center__right__email__box"
          .new__content__center__right__password
            = f.password_field :password,placeholder: "パスワード",class:"new__content__center__right__password__box",autocomplete: "off"
          .new__content__center__right__submit
            = f.submit "ログイン",class:"new__content__center__right__submit__box"





