.sidebar
  .sidebar__top
    %ul.sidebar__top__nav
      %h1 コンテンツ一覧
      %li
        = link_to "#", class: "sidebar__mypage__nav__content" do
          ボドゲの森とは(準備中)
          
      %li
        = link_to "#", class: "sidebar__mypage__nav__content" do
          ボドゲの森からのお知らせ（準備中）
          
      %li
        = link_to "#", class: "sidebar__mypage__nav__content" do
          ボドゲニュース（準備中）
          
      %li
        = link_to "#", class: "sidebar__mypage__nav__content" do
          coming soon
          
          
          