.main
  .main__content
    .main__content__header
      投稿一覧
    .main__content__box
      .main__content__box__left
        .main__content__box__left__icon
      .main__content__box__right
        .main__content__box__right__top
          タイトル
        .main__content__box__right__bottom
          .main__content__box__right__bottom__user
            田中
          .main__content__box__right__bottom__tag
            カタン
          .main__content__box__right__bottom__date
            成人式
          


      


