.wapper
  = render partial: 'posts/header'
  = render partial: 'posts/sidebar'

  .main
    .main__header
      投稿一覧
    .main__content
      - @posts.each do |post|
        .main__content__box
          .main__content__box__left__icon
          .main__content__box__right
            .main__content__box__right__top
              = link_to post.title,post_path(post.id)   
            .main__content__box__right__bottom
              .main__content__box__right__bottom__user
                    
              .main__content__box__right__bottom__tag
                    
              .main__content__box__right__bottom__date
                = post.created_at

                  
                


        


