= render partial: 'posts/header'
.main
  .main__infomation
    %h1 お知らせ
    .main__infomation__box
      プロフィール画像を入れれるような実装をし本番環境にデプロイした際,<br>
      新規登録、プロフィール画面の編集、ログアウト時にエラーが起きている状態です。<br>
      対処法を考え画像投稿も可能に出来たらと思います。<br>
      閲覧者の方々には大変ご迷惑をおかけしております。
      <br>
      2020年 2月 19日 現在

