
  .content{
  width: 70%;
  height: 600px;
  background-color:#fff;
  margin: 0 auto;
  overflow: scroll;

    &__box{
      padding: 10px;
      border-top: 1px solid #f6f6f6;
      border-bottom: 1px solid #f6f6f6;
      display: flex;
      &__left{
        padding-right: 20px;
        &__icon{
          height: 55px;
          width: 55px;
          border: solid 1px;
        }
      }
      &__right{
        width: calc(100%-100px); 
        &__top{
          padding-left: 30px;
          font-size: 20px;
          font-weight: bold;
          text-decoration: none;
          color: red;
        }
        &__bottom{
          font-size: 15px;
          color: #999;
          display: flex;
          margin-left: 30px;
          &__username{
            text-decoration: none;
            color: #999;  
          }
          &__date{
            margin-left: 20px;
          }
          &__tag{
            margin-left: 20px;
          }
          &__user{
          display: flex;

          
            &__edit{
            margin-left: 30px;

            }
            &__delete{
            margin-left: 30px;
            }
          }
        }
      }
    }
  }

