
  .content{
  width: 1000px;
  height: 600px;
  background-color:#fff;
  overflow: scroll;
  margin-left:70px;
  margin-top:20px;
  

    &__box{
      padding: 10px;
      border-top: 1px solid #f6f6f6;
      border-bottom: 1px solid #f6f6f6;
      display: flex;
      &__left{
        padding-right: 20px;
        &__icon{
          &__image{
            width: 100px;
            height: 100px;
            //サイズ指定
            border-radius: 100px;
            //画像を丸くする
            object-fit: cover;

          }
        }
      }
      &__right{
        width: calc(100%-100px); 
        &__top{
          padding-left: 30px;
          font-size: 20px;
          font-weight: bold;
          text-decoration: none;
          color: red;
        }
        &__bottom{
          padding-top: 10px;
          font-size: 15px;
          color: #999;
          display: flex;
          margin-left: 30px;
          &__username{
            text-decoration: none;
            color: #999;  
          }
          &__date{
            margin-left: 20px;
          }
          &__tag{
            margin-left: 20px;
          }
          &__user{
          display: flex;

          
            &__edit{
            font-size: 12px;
            padding-top:10px ;
            margin-left: 30px;

            }
            &__delete{
            font-size: 12px;
            padding-top: 10px;
            margin-left: 30px;
            }
          }
        }
      }
    }
  }

