.sidebar{
  background-color:rgb(246, 246, 244);
  height: 700px;
  width: 300px;
  padding: 16px;
  box-sizing: border-box;
  &__top{
    h1{
      text-align: center;
    }
    &__nav{
      li{
        padding-top: 50px;
      
      }
    }
  }
}